<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3º Infonet</title>
    <link rel="stylesheet" href="css/game.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" type="imagex/png" href="./img/cadeado.svg">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Libre+Barcode+128+Text&display=swap" rel="stylesheet">
</head>
<body>
    
    <header>
        <img src="./img/Infonet.png" alt="Infonet">
        <a href="/"></a>
    </header>

    <main>
        <div class="text">
            <div class="title">Jogos</div>
            <div class="subtitle">Segurança da informação</div>
        </div>
        <!-- <div class="game">
            <div class="area">
                <img src="url da logo do jogo" alt="jogo1" class="jogobg">
                <h3 class="titulojogo">Nome do jogo</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">decricao do jogo</p>
                <button class="btjogo" onclick="abrir_jogo(link do jogo)">Jogar</button>
            </div> -->
        <div class="game">
            <div class="area">
                <img src="../img/kill_the_malware.jpeg" alt="Kill the Malware" class="jogobg">
                <h3 class="titulojogo">Kill the Malware</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Um malware está atacando um computador, você é a única pessoa que consegue combater essa invasão.</p>
                <button class="btjogo" onclick="open_game('https://pietrooliveira17.github.io/Kill-The-Malware')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/ciberventura.jpeg" alt="Ciber Ventura" class="jogobg">
                <h3 class="titulojogo">Ciber Ventura</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Seja o hacker dos crackers e se aventure numa gameficação curta, ensinando dois fundamentos da segurança virtual.</p>
                <button class="btjogo" onclick="open_game('https://julian-nayde.github.io/CiberVentura/')">Jogar</button>
              </div>
              <div class="area">
                <img src="../img/Tartaruga.png" alt="Karatec" class="jogobg">
                <h3 class="titulojogo">Karatec</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">A tartaruga karateca, Luciano, é importunada por um malware. Sua missão é passar dos obstáculos e derrotar o mesmo. </p>
                <button class="btjogo" onclick="open_game('https://10121974.github.io/Jogo-karatec/')">Jogar</button>
              </div>    
              
              <div class="area">
                <img src="../img/data-spike.jpg" alt="Data Spike" class="jogobg">
                <h3 class="titulojogo">Data Spike</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Em um dia de trabalho, um Analista de Dados se vê jogando uma partida de vôlei com um hacker para salvar sua empresa</p>
                <button class="btjogo" onclick="open_game('https://darkboat4.github.io/Data-Spike/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/nig.jpeg" alt="Nig Slayer" class="jogobg">
                <h3 class="titulojogo">Nig Slayer</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Assuma o papel de Nig, um ninja cibernético e enfrente o vírus Specter que ameaça destruir a internet e ajude-o a salva-lá!</p>
                <button class="btjogo" onclick="open_game('https://wendel-binotto.github.io/Jogoconstruct/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/esquilo.jpeg" alt="O esquilo cibernético" class="jogobg">
                <h3 class="titulojogo">O esquilo cibernético</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Um esquilo curioso caiu em um mundo tecnológico e estranho. Colete as nozes para voltar pra casa!</p>
                <button class="btjogo" onclick="open_game('https://pedrada2007.github.io/Pauloo-freire/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/tatu.jpeg" alt="Tatu Journey" class="jogobg">
                <h3 class="titulojogo">Tatu Journey</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Tatu estava navegando em seu novo celular quando, de repente, seus dados foram roubados por um habilidoso hacker.</p>
                <button class="btjogo" onclick="open_game('https://joaotatu.github.io/PauloFreire-ETEC/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/alt.jpeg" alt="CRTL+ALT+SUMIR" class="jogobg">
                <h3 class="titulojogo">CRTL+ALT+SUMIR</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Você foi sequestrado por três criminosos geniais, e agora, você deve ajuda-lós à invadir um banco e roubar dados.</p>
                <button class="btjogo" onclick="open_game('https://caio19100.github.io/CTRLALTSUMIR/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/alexan.jpeg" alt="Alexandre'S Adventure" class="jogobg">
                <h3 class="titulojogo">Alexandre's Adventure</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Em um mundo colapsado, Alexandre decide largar tudo para enfrentar uma nova missão!</p>
                <button class="btjogo" onclick="open_game('https://santanbakkkkj07.github.io/alexandre-s-adventurekk/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/afana.jpeg" alt="Afanablake: a batalha hacker" class="jogobg">
                <h3 class="titulojogo">Afanablake: a batalha hacker</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Utilize o sistema antívirus 'Afanablake' e elimine os vírus</p>
                <button class="btjogo" onclick="open_game('https://enzo9119.github.io/page1/')">Jogar</button>
              </div>
              <div class="area">
                <img src="../img/afana.jpeg" alt="Afanablake: a batalha hacker" class="jogobg">
                <h3 class="titulojogo">Afanablake: a batalha hacker - Luta contra o boss</h3>
                <div class="rowjogo"></div>
                <p class="descjogo"></p>
                <button class="btjogo" onclick="open_game('https://enzo9119.github.io/boss/')">Jogar</button>
              </div>
              
              
              <div class="area">
                <img src="../img/cyber.jpeg" alt="Cyber security" class="jogobg">
                <h3 class="titulojogo">Cyber security</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Um soldado, atormentado por um sistema infectado, necessita fugir dos vírus e chegar ao fim da sua jornada.</p>
                <button class="btjogo" onclick="open_game('https://fern990.github.io/jogo/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/shadow.jpeg" alt="Shadow Leap" class="jogobg">
                <h3 class="titulojogo">Shadow Leap</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Um malware está atacando um computador, você é a única pessoa que consegue combater essa invasão.</p>
                <button class="btjogo" onclick="open_game('https://darkboat4.github.io/shadow-leap-paulofreire-game/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/felcalogo.png" alt="O esquilo cibernético" class="jogobg">
                <h3 class="titulojogo">Luna</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Misteriosamente, Luna é transportada para um mundo digital, onde precisa enfrentar vírus e desafios para sobreviver.</p>
                <button class="btjogo" onclick="open_game('https://homemsigma.github.io/LUNA/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/virus.jpeg" alt="O vírus que destruiu minha vida" class="jogobg">
                <h3 class="titulojogo">O vírus que destruiu minha vida</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Você deve recuperar sua conta no TikTok derrotando os hackers que a roubaram.</p>
                <button class="btjogo" onclick="open_game('https://renanr158.github.io/ovirusquedestruiuminhavida_1-3/')">Jogar</button>
              </div>
              <div class="area">
                <img src="../img/virus2.jpeg" alt="O vírus que destruiu minha vida" class="jogobg">
                <h3 class="titulojogo">O vírus que destruiu minha vida - parte 2</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Você deve recuperar sua conta no TikTok derrotando os hackers que a roubaram.</p>
                <button class="btjogo" onclick="open_game('https://renanr158.github.io/ovirusquedestruiuminhavida_2-3/')">Jogar</button>
              </div>
              <div class="area">
                <img src="../img/virus2-5.jpeg" alt="O vírus que destruiu minha vida" class="jogobg">
                <h3 class="titulojogo">O vírus que destruiu minha vida - parte 2.5</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Você deve recuperar sua conta no TikTok derrotando os hackers que a roubaram.</p>
                <button class="btjogo" onclick="open_game('https://renanr158.github.io/ovirusquedestruiuminhavida_2.5-3/')">Jogar</button>
              </div>
              <div class="area">
                <img src="../img/virus3.jpeg" alt="O vírus que destruiu minha vida" class="jogobg">
                <h3 class="titulojogo">O vírus que destruiu minha vida - parte 3</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Você deve recuperar sua conta no TikTok derrotando os hackers que a roubaram.</p>
                <button class="btjogo" onclick="open_game('https://renanr158.github.io/ovirusquedestruiuminhavida_3-3/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/kasti.jpeg" alt="Kastiel" class="jogobg">
                <h3 class="titulojogo">Kastiel</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">No ano de 2067, ataques hackers roubam dados confidenciais. Derrote os vírus e os recupere.</p>
                <button class="btjogo" onclick="open_game('https://darkboat4.github.io/kastiel-game-paulo-freire/')">Jogar</button>
              </div>

              <div class="area">
                <img src="../img/capi.jpg" alt="capivara" class="jogobg">
                <h3 class="titulojogo">Fuja dos Vírus</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Você é uma capivara programadora que vai salvar um computador dos vírus</p>
                <button class="btjogo" onclick="open_game(' https://victorfreire7.github.io/Fuja-dos-V-rus/')">Jogar</button>
              </div>

              <div class="area">
                <img src="../img/samurai.jpg" alt="capivara" class="jogobg">
                <h3 class="titulojogo">CYBER SAMURAI</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">No futuro, uma IA corrompida domina os dados da humanidade.</p>
                <button class="btjogo" onclick="open_game('https://01naoe02.github.io/paulofreire/')">Jogar</button>
              </div>
              
             
        </div>

        
    </main>

    <footer>
        © Copyright 2025 Terceiro Infonet | Todos os direitos reservados
    </footer>

    <script src="/js/script.js"></script>
</body> 

</html>