<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CYBERSEGURANÇA</title>
    <link rel="stylesheet" href="css/game.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Libre+Barcode+128+Text&display=swap" rel="stylesheet">
<body>
    
    <header>
        <img src="./img/Infonet.png" alt="Infonet">
        <a href="/"></a>
    </header>

    <main>
        <div class="text">
            <div class="title">Jogos</div>
            <div class="subtitle">Segurança da informação</div>
        </div>

        <div class="game">
            <div class="area">
                <img src="img/gatinho1.png" alt="jogo1" class="jogobg">
                <h3 class="titulojogo">Gato fofo</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Sobre: <br><br> miau miau miau miau miau miau miau miau miau miau caralhoooo</p>
                <button class="btjogo">Jogar</button>
            </div>
            <div class="area">
                <img src="img/gatinho1.png" alt="jogo1" class="jogobg">
                <h3 class="titulojogo">Gato fofo</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Sobre: <br><br> miau miau miau miau miau miau miau miau miau miau caralhoooo</p>
                <button class="btjogo">Jogar</button>
            </div>
            <div class="area">
                <img src="img/gatinho1.png" alt="jogo1" class="jogobg">
                <h3 class="titulojogo">Gato fofo</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Sobre: <br><br> miau miau miau miau miau miau miau miau miau miau caralhoooo</p>
                <button class="btjogo">Jogar</button>
            </div>
        </div>

        <div class="game">
            <div class="area">
                <img src="img/gatinho1.png" alt="jogo1" class="jogobg">
                <h3 class="titulojogo">Gato fofo</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Sobre: <br><br> miau miau miau miau miau miau miau miau miau miau caralhoooo</p>
                <button class="btjogo">Jogar</button>
            </div>
            <div class="area">
                <img src="img/gatinho1.png" alt="jogo1" class="jogobg">
                <h3 class="titulojogo">Gato fofo</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Sobre: <br><br> miau miau miau miau miau miau miau miau miau miau caralhoooo</p>
                <button class="btjogo">Jogar</button>
            </div>
            <div class="area">
                <img src="img/gatinho1.png" alt="jogo1" class="jogobg">
                <h3 class="titulojogo">Gato fofo</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Sobre: <br><br> miau miau miau miau miau miau miau miau miau miau caralhoooo</p>
                <button class="btjogo">Jogar</button>
            </div>
        </div>

        <div class="game">
            <div class="area">
                <img src="img/gatinho1.png" alt="jogo1" class="jogobg">
                <h3 class="titulojogo">Gato fofo</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Sobre: <br><br> miau miau miau miau miau miau miau miau miau miau caralhoooo</p>
                <button class="btjogo">Jogar</button>
            </div>
            <div class="area">
                <img src="img/gatinho1.png" alt="jogo1" class="jogobg">
                <h3 class="titulojogo">Gato fofo</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Sobre: <br><br> miau miau miau miau miau miau miau miau miau miau caralhoooo</p>
                <button class="btjogo">Jogar</button>
            </div>
            <div class="area">
                <img src="img/gatinho1.png" alt="jogo1" class="jogobg">
                <h3 class="titulojogo">Gato fofo</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Sobre: <br><br> miau miau miau miau miau miau miau miau miau miau caralhoooo</p>
                <button class="btjogo">Jogar</button>
            </div>
        </div>

        
    </main>

    <footer>
        © Copyright 2025 Terceiro Infonet | Todos os direitos reservados
    </footer>

    
</body>
</html>