<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3º Infonet</title>
    <link rel="stylesheet" href="css/game.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" type="imagex/png" href="./img/cadeado.svg">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Libre+Barcode+128+Text&display=swap" rel="stylesheet">
</head>
<body>
    
    <header>
        <img src="./img/Infonet.png" alt="Infonet">
        <a href="/"></a>
    </header>

    <main>
        <div class="text">
            <div class="title">Jogos</div>
            <div class="subtitle">Segurança da informação</div>
        </div>
        <!-- <div class="game">
            <div class="area">
                <img src="url da logo do jogo" alt="jogo1" class="jogobg">
                <h3 class="titulojogo">Nome do jogo</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">decricao do jogo</p>
                <button class="btjogo" onclick="abrir_jogo(link do jogo)">Jogar</button>
            </div> -->
        <div class="game">
            <div class="area">
                <img src="../img/kill_the_malware.jpeg" alt="Kill the Malware" class="jogobg">
                <h3 class="titulojogo">Kill the Malware</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Um malware está atacando um computador, você é a única pessoa que consegue combater essa invasão.</p>
                <button class="btjogo" onclick="open_game('https://pietrooliveira17.github.io/Kill-The-Malware')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/ciberventura.jpeg" alt="Ciber Ventura" class="jogobg">
                <h3 class="titulojogo">Ciber Ventura</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Seja o hacker dos crackers e se aventure numa gameficação curta ensinando dois fundamentos da segurança virtual, de um jeito imaginado e fantasioso.</p>
                <button class="btjogo" onclick="open_game('https://julian-nayde.github.io/CiberVentura/')">Jogar</button>
              </div>
              <div class="area">
                <img src="../img/Tartaruga.png" alt="Karatec" class="jogobg">
                <h3 class="titulojogo">Karatec</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">O jogo tem como personagem principal a tartaruga karateca Luciano, que é importunada por um malware. Sua missão é passar dos obstáculos e derrotar o malware. Boa Sorte!</p>
                <button class="btjogo" onclick="open_game('https://10121974.github.io/Jogo-karatec/')">Jogar</button>
              </div>    
              
              <div class="area">
                <img src="../img/data-spike.jpg" alt="Data Spike" class="jogobg">
                <h3 class="titulojogo">Data Spike</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Em um dia de trabalho um Analista de Dados encontra um hacker invadindo a empresa, então eles se enfrentam em uma partida de vôlei para salvar a empresa</p>
                <button class="btjogo" onclick="open_game('https://darkboat4.github.io/Data-Spike/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/nig.jpeg" alt="Nig Slayer" class="jogobg">
                <h3 class="titulojogo">Nig Slayer</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Assuma o papel de Nig, um ninja cibernético, e enfrente o vírus Specter que ameaça destruir a internet. Lute em mundos digitais cheios de perigos, limpe os sistemas e salve o futuro da rede global!</p>
                <button class="btjogo" onclick="open_game('https://wendel-binotto.github.io/NIG-SLAYER/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/esquilo.jpeg" alt="O esquilo cibernético" class="jogobg">
                <h3 class="titulojogo">O esquilo cibernético</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Um esquilo curioso caiu em um mundo tecnológico estranho e brilhante. Para voltar para casa, ele precisa coletar nozes tecnológicas espalhadas pelo cenário.</p>
                <button class="btjogo" onclick="open_game('https://pedrada2007.github.io/Pauloo-freire/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/tatu.jpeg" alt="Tatu Journey" class="jogobg">
                <h3 class="titulojogo">Tatu Journey - Uma aventura cibernetica</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Após os eventos de Tatu Journey..Tatu estava aprendendo a mexer em seu novo celular, quando de repente seus dados foram roubados e enviados a um hacker muito habilidoso.....</p>
                <button class="btjogo" onclick="open_game('https://joaotatu.github.io/PauloFreire-ETEC/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/alt.jpeg" alt="CRTL+ALT+SUMIR" class="jogobg">
                <h3 class="titulojogo">CRTL+ALT+SUMIR</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Um ciborgue que defende dados secretos. Você acorda sequestrado por três criminosos geniais. Eles querem sua ajuda pra invadir um banco — e desaparecer com tudo.</p>
                <button class="btjogo" onclick="open_game('https://caio19100.github.io/CTRLALTSUMIR/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/alexan.jpeg" alt="Alexandre'S Adventure" class="jogobg">
                <h3 class="titulojogo">Alexandre'S Adventure</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Em um mundo digital à beira do colapso, ameaçado por vírus perigosos que se espalham sem controle, o renomado Professor Alexandre, da ETEC Adhemar Batista Hemeritas (ABH), decide deixar suas aulas de lado para enfrentar uma nova missão!</p>
                <button class="btjogo" onclick="open_game('https://santanbakkkkj07.github.io/alexandre-s-adventurekk/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/afana.jpeg" alt="Afanablake e a batalha hacker" class="jogobg">
                <h3 class="titulojogo">Afanablake e a batalha hacker</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Você, usuário do computador acabou de instalar sem querer vários arquivos corrompidos, mas que graças ao programa antivírus 'Afanablake' seu computador ainda tem salvação, controle ele para destruir todos os vírus para salvar seu computador.</p>
                <button class="btjogo" onclick="open_game('https://enzo9119.github.io/page1/')">Jogar</button>
              </div>
              <div class="area">
                <img src="../img/afana.jpeg" alt="Afanablake e a batalha hacker" class="jogobg">
                <h3 class="titulojogo">Afanablake e a batalha hacker - Luta contra o boss</h3>
                <div class="rowjogo"></div>
                <p class="descjogo"></p>
                <button class="btjogo" onclick="open_game('https://enzo9119.github.io/boss/')">Jogar</button>
              </div>
              
              
              <div class="area">
                <img src="../img/cyber.jpeg" alt="Cyber security" class="jogobg">
                <h3 class="titulojogo">Cyber security</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">É um jogo sobre um soldado que necessita fugir de um sistema infectado por vírus e precisa chegar ao fim da sua jornada.</p>
                <button class="btjogo" onclick="open_game('https://fern990.github.io/jogo/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/shadow.jpeg" alt="Shadow Leap" class="jogobg">
                <h3 class="titulojogo">Shadow Leap</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Um malware está atacando um computador, você é a única pessoa que consegue combater essa invasão.</p>
                <button class="btjogo" onclick="open_game('https://darkboat4.github.io/shadow-leap-paulofreire-game/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/felcalogo.png" alt="O esquilo cibernético" class="jogobg">
                <h3 class="titulojogo">Luna</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Luna é misteriosamente transportada para um mundo digital, onde precisa enfrentar vírus e desafios para sobreviver. À medida que avança, ela descobre pistas sobre quem a trouxe para esse universo e o motivo de sua presença ali.</p>
                <button class="btjogo" onclick="open_game('https://homemsigma.github.io/LUNA/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/virus.jpeg" alt="O vírus que destruiu minha vida" class="jogobg">
                <h3 class="titulojogo">O vírus que destruiu minha vida</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">O protagonista, destinado a viver em sofrência após sua conta do TikTok ser roubada, decide recuperar sua conta derrotando os hackers que causam essa discórdia na humanidade, sua jornada é curta e direta, derrotando hackers e vírus responsáveis por tais atrocidades.</p>
                <button class="btjogo" onclick="open_game('https://renanr158.github.io/ovirusquedestruiuminhavida_1-3/')">Jogar</button>
              </div>
              <div class="area">
                <img src="../img/virus2.jpeg" alt="O vírus que destruiu minha vida" class="jogobg">
                <h3 class="titulojogo">O vírus que destruiu minha vida - parte 2</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">O protagonista, destinado a viver em sofrência após sua conta do TikTok ser roubada, decide recuperar sua conta derrotando os hackers que causam essa discórdia na humanidade, sua jornada é curta e direta, derrotando hackers e vírus responsáveis por tais atrocidades.</p>
                <button class="btjogo" onclick="open_game('https://renanr158.github.io/ovirusquedestruiuminhavida_2-3/')">Jogar</button>
              </div>
              <div class="area">
                <img src="../img/virus2-5.jpeg" alt="O vírus que destruiu minha vida" class="jogobg">
                <h3 class="titulojogo">O vírus que destruiu minha vida - parte 2.5</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">O protagonista, destinado a viver em sofrência após sua conta do TikTok ser roubada, decide recuperar sua conta derrotando os hackers que causam essa discórdia na humanidade, sua jornada é curta e direta, derrotando hackers e vírus responsáveis por tais atrocidades.</p>
                <button class="btjogo" onclick="open_game('https://renanr158.github.io/ovirusquedestruiuminhavida_2.5-3/')">Jogar</button>
              </div>
              <div class="area">
                <img src="../img/virus3.jpeg" alt="O vírus que destruiu minha vida" class="jogobg">
                <h3 class="titulojogo">O vírus que destruiu minha vida - parte 3</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">O protagonista, destinado a viver em sofrência após sua conta do TikTok ser roubada, decide recuperar sua conta derrotando os hackers que causam essa discórdia na humanidade, sua jornada é curta e direta, derrotando hackers e vírus responsáveis por tais atrocidades.</p>
                <button class="btjogo" onclick="open_game('https://renanr158.github.io/ovirusquedestruiuminhavida3-3/')">Jogar</button>
              </div>
              
              <div class="area">
                <img src="../img/kasti.jpeg" alt="Kastiel" class="jogobg">
                <h3 class="titulojogo">Kastiel</h3>
                <div class="rowjogo"></div>
                <p class="descjogo">Ainda não me mandaram detalhes sobre esse jogo.</p>
                <button class="btjogo" onclick="open_game('https://darkboat4.github.io/kastiel-game-paulo-freire/')">Jogar</button>
              </div>
              
             
        </div>

        
    </main>

    <footer>
        © Copyright 2025 Terceiro Infonet | Todos os direitos reservados
    </footer>

    <script src="/js/script.js"></script>
</body> 

</html>