<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="./img/cadeado.svg">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/home.css">
    <title>3º Infonet</title>
</head>
<body>
    <header>
        <img src="img/Infonet.png" alt="Infonet_title">
        <a href="/"></a>
    </header>

    <div class="pretao">aaaaaaa</div>

    <div id="form-login">
        <form method="post" action="">
            <h3>Increva-se</h3>
            <div>
                <p>Nome</p>
                <input type="text" name="nome" id="nome" placeholder="Digite seu nome e sobrenome" maxlength="20" required>
            </div>
            <div>
                <select name="turma" id="turma" required>
                        <option value="0">Selecionar Turma...</option>
                        <option value="info1">1º Infonet</option>
                        <option value="info2">2º Infonet</option>
                        <option value="info3">3º Infonet</option>
            
                        <option value="mkt1">1º Marketing</option>
                        <option value="mkt2">2º Marketing</option>
                        <option value="mkt3">3º Marketing</option>
            
                        <option value="rh1">1º Recursos Humanos</option>
                        <option value="rh2">2º Recursos Humanos</option>
                        <option value="rh3">3º Recursos Humanos</option>
            
                        <option value="el1">1º Eletrônica</option>
                        <option value="el2">2º Eletrônica</option>
                        <option value="el3">3º Eletrônica</option>

                        <option value="el1">1º Administração</option>
                        <option value="el2">2º Administração</option>
                        <option value="el3">3º Administração</option>

                        <option value="el1">1º Farmácia</option>
                        <option value="el2">2º Farmácia</option>
                        <option value="el3">3º Farmácia</option>

                        <!--cursos modulares-->

                        <option value="el1">Desenvolvimentos de Sistemas</option>
                        <option value="el2">Eletrotécnica</option>

                        <!--convidado-->
                        <option value="el3">Convidado</option>
                    </select>
            </div>
            <button id="send-cad-btn" type="submit">Enviar</button>
            <button id="close" onclick="close_login()" type="button">x</button>
            <a href="/games" class="link_alt">Já se inscreveu?</a>
        </form>
    </div>

    <main>
        <section class="container1">
            <div>
            <p>CYBER<br> <span style="color:#571088;">SEGURANÇA</span> </p>
            <p>Proteja seus dados na internet com segurança digital: descubra como navegar com confiança em um mundo cheio de ameaças digitais e mantenha sua privacidade</p>
            </div>
            <div>
                <img src="img/cadeado.svg" alt="">
            </div>
        </section>

        <!-- <a href="/rant"></a> -->
        <!-- <a href="/rant"> -->

        <section class="container-caixas">
            <div class="caixa" onclick="mudar_pag('/rant#topicos')">
                <p>Introdução: <br> Conceitos</p>
                <div class="hr"></div>
                <p>Conheça os conceitos básicos da defesa cibernética: Entenda ameaças comuns, como o phishing e malware, e siga dicas simples de proteção, como utilizar senhas fortes e manter seus sistemas sempre atualizados.</p>
                <span id="sybom-plus">+</span>
            </div>
            <div class="caixa" onclick="mudar_pag('/rant#hash')" >
                <p>Hash na <br> Prática</p>
                <div class="hr"></div>
                <p>Explore como o hash mantém suas senhas seguras. Abordaremos o SHA-1, um método mais antigo, e o BCRYPT, um algoritmo moderno e forte, demonstrando como eles dificultam a vida dos crackers.</p>
                <span id="sybom-plus">+</span>
            </div>
            <div class="caixa" onclick="mudar_pag('/rant#protecao')" >
                <p>Como se <br> Proteger?</p>
                <div class="hr"></div>
                <p>Aprenda hábitos seguros para a vida online: seja digitalmente responsável, crie senhas fortes e mantenha sistemas e programas atualizados. Assim você fica protegido contra invasões e golpes online.</p>
                <span id="sybom-plus">+</span>
            </div>
        </section>
        <div class="section-for-btn">
            
        <form action="/rant" method="get">
            <button class="sab-mas" >Saiba Mais</button>
        </form>
    </div>
    <!-- </a> -->
    
    <div class="line"></div>

    <section class="container3">
        <div class="title">
            <p>Jogos</p>
            <br>
            <p>Segurança da Informação</p>
        </div>
        <div class="container-carrosel">
            <div class="carrosel" id="carrosel">
                <!-- <div class="jogo">
                    <div class="conteudo">
                        <p>Gato fofo</p>
                        <div class="hr2"></div>
                        <p>Sobre:</p>
                    </div>
                    <p class="fora-contet">miau miau miau miau miau miau miau miau miua caralhooooooo</p>
                </div> -->
            </div>
        </div>

        <button class="cad-play-btn" onclick="open_login()">Cadastre-se para jogar</button>
        
    </section>

     
    </main>
    <footer>
        © Copyright 2025 Terceiro Infonet | Todos os direitos reservados
    </footer>
    <script src="js/script.js"></script>
    <!-- <script src="js/login.js"></script -->
    <script>


        </script>
</body>

</html>