<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


        <h1>Olá, Faça cadastro!</h1>
        <form method="post">
            <input type="text" name="nome" id="nome" placeholder="Digite seu nome:">
            <select name="turma" id="turma">
                <option value="info1">1º Infonet</option>
                <option value="info2">2º Infonet</option>
                <option value="info3">3º Infonet</option>
    
                <option value="mkt1">1º Marketing</option>
                <option value="mkt2">2º Marketing</option>
                <option value="mkt3">3º Marketing</option>
    
                <option value="rh1">1º Recursos Humanos</option>
                <option value="rh2">2º Recursos Humanos</option>
                <option value="rh3">3º Recursos Humanos</option>
    
                <option value="el1">1º Eletrônica</option>
                <option value="el2">2º Eletrônica</option>
                <option value="el3">3º Eletrônica</option>
            </select>
            <button id="botao">CADASTRA</button>
        </form>

        <h1>O que voce deseja?</h1>
        <form action="games" method="get"><button>GAMES</button></form>
        <br>
        <form action="rant" method="get"><button>SEGUNDA PÁGINA</button></form>
        
    </body>
    <script src="./js/main.js"></script>
</html>