<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>GERADOR DE HASH</H1>
    <form action="" method="post">

        <input type="text" name="nome" id="nome" placeholder="Digite um texto para ser criptografado..." size="30">
        <button>Enviar</button>

    </form>
    <br><br>
    <%if(bcrypt){%>
        <h1>BCRYPTJS:</h1>
        <p><%-bcrypt%></p>

    <%}%>
        <br><br>
    <%if(sha1){%>
        <h1>SHA1:</h1>

        <p><%-sha1%></p>
    <%}%>
</body>
<script src="./js/main.js"></script>
</html>